In [2]:
import requests
import json
import pandas as pd

In [3]:
from pprint import pprint

In [6]:
csv_file = "Resources/Movies(2007-2011).csv"
movie_data_df = pd.read_csv(csv_file)
movie_data_df.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [7]:
new_movie_data_df = customer_data_df[['Film', 'Year', 'Rotten Tomatoes %']].copy()
new_movie_data_df.head()

                                 Film  Year  Rotten Tomatoes %
0          Zack and Miri Make a Porno  2008                 64
1                     Youth in Revolt  2010                 68
2  You Will Meet a Tall Dark Stranger  2010                 43
3                        When in Rome  2010                 15
4               What Happens in Vegas  2008                 28

## Create a list of movie titles

In [17]:
list_of_files = list(new_movie_data_df["Film"])

## Create an API call for OMDb

In [18]:
url = "http://www.omdbapi.com/?t="
api_key = "&apikey=trilogy"

In [28]:
response = requests.get(url + "Zack and Miri Make a Porno" + api_key)
print(response.url)

http://www.omdbapi.com/?t=Zack%20and%20Miri%20Make%20a%20Porno&apikey=trilogy

In [29]:
movie = response.json()
pprint(movie)

{'Actors': 'Elizabeth Banks, Seth Rogen, Craig Robinson, Gerry Bednob',
 'Awards': '2 wins & 4 nominations.',
 'BoxOffice': '$31,382,624',
 'Country': 'USA',
 'DVD': '03 Feb 2009',
 'Director': 'Kevin Smith',
 'Genre': 'Comedy, Romance',
 'Language': 'English',
 'Metascore': '56',
 'Plot': 'Lifelong platonic friends Zack and Miri look to solve their '
         'respective cash-flow problems by making an adult film together. As '
         'the cameras roll, however, the duo begin to sense that they may have '
         'more feelings for each other than they previously thought.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BY2I1N2Y0ODEtNzZmZS00NzBjLWFkZjEtMTVkOTY1Y2UzZGE1XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg',
 'Production': 'The Weinstein Company',
 'Rated': 'R',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.5/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '65%'},
             {'Source': 'Metacritic', 'Value': '56/100'}],
 'Released': '31 Oct 2008',
 'Response': 'True',
 'Runtime': '101 min',
 'Title': 'Zack and Miri Make a Porno',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Kevin Smith',
 'Year': '2008',
 'imdbID': 'tt1007028',
 'imdbRating': '6.5',
 'imdbVotes': '167,577'}

In [30]:
title = movie["Title"]
title

'Zack and Miri Make a Porno'

In [31]:
# Isolate "data items" for easy reading
ratings = movie["Ratings"]
imdb_ratings = ratings[0]
imdb_ratings = imdb_ratings["Value"]
imdb_ratings

'6.5/10'

In [32]:
# Retrieve the video's rating
print("Rating:", imdb_ratings)

Rating: 6.5/10